.mainIndex {
    display: flex;
    justify-content: space-evenly;
    animation: card 2s ease-in-out infinite;       
}

@keyframes card {
    0% {transform: scale(1, 1);}    
    50%{transform: scale(1.04, 1.04);}
    100% {transform: scale(1, 1);}
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;        
    border-radius: 10px;
    width: 200px;
    height: 300px;
    background-color: white;    
    box-shadow: 1px 1px 4px 2px rgba(40, 39, 39, 0.154);    
    margin-top: 50px;
}

.containerFrontBack {
    position: relative;    
    width: 200px;
    height: 300px;
    margin-top: 50px;
    perspective: 1000px;    
    transition: transform 0.6s;    
    transform-style: preserve-3d;    
    box-shadow: 1px 1px 4px 2px rgba(40, 39, 39, 0.154);
    text-align: center;    
    border-radius: 10px;    
}
.containerFrontBack:hover {
    transform: rotateY(180deg);    
}
.containerFront, .containerBack {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;        
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
    
    
}
.containerBack {
    transform: rotateY(180deg);    
}

.h2 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 20px;
}

.img {
    width: 90px;
    height: 90px;
    margin-top: 20px;    
}

.p {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 40px 20px 20px 20px;
    color:rgb(7, 91, 20);
}

