/*--------------<Index>-------------/*
body {    
    background-color: azure;
    background-size: 600% 400%;
    border-radius: 0% 0% 100% 80%;   
}

/* .mainLogin {
    background-color: green;
} */

/*----------------------<Swet Alert2>------------*/

.btn, .btn-success {
    background-color: rgb(31, 125, 94);
    margin-top: 20px;
    text-decoration: none;         
    padding: .9em 3em;    
    border-radius: 6px;
    display: inline-block;
    font-weight: 400;
    font-family: sans-serif;
    transition: background-color .3s;
    cursor: pointer;   
    margin: 10px;
    box-shadow: 0px 0px 7px 2px rgba(75, 74, 74, 0.521);    
    --bs-btn-bg: #138952;    
}
.btn:first-child:hover, :not(.btn-check)+.btn:hover {
    color: rgb(31, 125, 94);
    background-color: white;
    border-color: rgb(31, 125, 94);
}


/*----------------------<Swet Alert1>------------*/
.swal-overlay {
    background: rgba(0,0,0,.4)
}
.swal-modal {
    width: 37rem;
    height: 34.8rem;
    margin-top: 30px;
           
}
.swal-footer {
    margin-top: 10px;
    text-align: center;
}
.swal-title {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 40px;
}
.swal-button {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    background-color: rgb(242, 61, 44) ; 
    padding: 1em 3em;    
    border-radius: 6px;
    display: inline-block;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1rem;
    transition: background-color .3s;
    cursor: pointer; 
    box-shadow: 0px 0px 7px 2px rgba(75, 74, 74, 0.521);    
  }
.swal-button:not([disabled]):hover {
    color: rgb(242, 61, 44);
    background-color: white;
    border: 1px solid rgb(242, 61, 44);
}
/*------------------------------------------------*/

/*-----------------------------------*/

.mainIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "hora" "card" "vestimenta" "colorNum";           
    justify-content: center;
    align-content: center;                 
}


/*----------------<Seccion Reloj - Tiempo - Boton Reiniciar>------------*/

.sectionTW {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reload {
    width: 10em;
    height: 3rem;
    border: 1px solid white;
    background-color: #4ce4af;
    transition: background-color .4s; 
    color: white;
    margin: 215px 40px 0 0;
}
.reload:hover {
    background-color: white;
    border: 1px solid #4ce4af;
    color: #4ce4af;
}
.container-sm {    
    margin: 0;
}
.containerImg {
    text-align: center;        
}
.imgClima{
    width: 100px;
    margin-top: 10px;
    image-rendering: auto;
}
.card {
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    margin-top: 18px;
    border: 1px solid rgba(47, 228, 238, 0.776);
}


.containerReloj {
    grid-area: hora;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8a9;
    backdrop-filter: blur(20px); 
    box-shadow: 1px 1px 5px 1px rgba(46, 44, 44, 0.295);       
    width:50%;
    text-align:center;
    border-radius:5px;    
    margin-top:20px;
    border: 10px solid ;
    border-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) 1;    
}
#reloj{
    background-color:rgb(255, 255, 255);
    font-family: sans-serif;
    font-size:50px;
    text-shadow:0px 0px 1px #fff;
    color:rgb(43, 234, 123);
    margin: 20px;
    border: 1px transparent;
    background-color: rgb(79, 80, 80);
    width: 200px;
    border-radius: 10px;    
}

#fecha {
    letter-spacing:10px;
    font-size:30px;
    font-family:sans-serif;
    color:rgb(21, 20, 20);
}

.h1 {
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing:10px;
    font-weight: 400;
    margin: 5px;
}

.sectionCard {
    grid-area: card;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

@keyframes card {
    0% {transform: scale(1, 1);}    
    50%{transform: scale(1.04, 1.04);}
    100% {transform: scale(1, 1);}
}
/*----------------<Seccion Tareas>------------*/


.containerFrontBack {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    width: 200px;
    height: 300px;
    margin-top: 50px;
    perspective: 1000px;    
    transition: transform 1.3s;       
    transform-style: preserve-3d;        
    box-shadow: 1px 1px 4px 2px rgba(40, 39, 39, 0.154);
    text-align: center;    
    border-radius: 10px;    
}

.rotation {
    transform: rotateY(180deg);    
}
.containerFront, .containerBack {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;        
    backface-visibility: hidden;
    background-color: #f8f8f8;
              
}
.containerBack {
    transform: rotateY(180deg);   
}


.h2 {
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: 20px;
}

.img {
    width: 90px;
    height: 90px;
    margin-top: 20px;    
}

.p {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    margin: -10px 20px 20px 20px;
    color:rgb(7, 91, 20);
}

.buton {
    background-color: #2735ad;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    width: 70px;
    height: 30px;    
    margin: 30px 10px 0 10px;
    transition: background-color .4s;
    margin-top: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: sans-serif;
}
.buton:hover {
    background-color: white;
    color: #2735ad;
    border: 1px solid #2735ad;
}

.visibilityNone {
    visibility: hidden;
}
.visibilityYes {
    visibility: visible;
}
.displayNone {
    display: none;
}
.displayYes {
    display: block;
}
/*----------------<Seccion Vestimenta>------------*/
.vestimenta {
    grid-area: vestimenta;
    background-color: #a18cd1;
}

/*----------------<Seccion Colores y Números>------------*/
.coloresNumeros {        
    grid-area: colorNum;
    display: flex;    
    box-shadow: 0px 4px 9px 2px rgba(81, 79, 79, 0.252) inset;
    width: 100%;
    height: 400px;
}

.coloresPrimarios {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rojo {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
}
.amarillo {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 100%;
}

.azul {
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 100%;
}

/*----------------<Card Back Vocales>------------*/

.h3 {
    font-size: 1.5rem;
}

.divButon {
    display: flex;
    flex-direction: column;    
}

.botonOpcion {    
    text-decoration: none;
    color: white;
    background-color: #2735ad ;
    padding: .7em 3em;
    margin: 11px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 6px;
    display: inline-block;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 1.1rem;
    transition: background-color .3s;
    cursor: pointer; 
    box-shadow: none;        
}
.b1 {
    order: 1;
}
.b2 {
    order: 2;
}
.b3 {
    order: 3;
}

.botonOpcion:hover {
    color: #2735ad;
    background-color: white;
    border: 1px solid #2735ad;
} 


/* .fave {
    width: 70px;
    height: 50px;
    background: url(/images/twitter_fave.png) no-repeat;
    background-position: 0 0;
}
.fave:hover {
    background-position: -3519px 0;
    transition: background 1s steps(55);
} */

